<div class="main-content-container">
	<h1>Join us at . . .</h1>
	<!-- if events -->
	{{#if events}}
		{{#each events}}
		<div class="event-container">
			<div class="row">
				<!-- <div class="col-lg-2 col-md-3 col-sm-4">
					<div class="date-box"> 
						<p class="event-month">{{event_month date}}</p>
						<p class="event-date">{{event_date date}}</p>
					</div>	
				</div> -->
				<div class="col-lg-10 col-md-7 col-sm-8">
					<h2 class="event-head">
						{{name}}
					</h2>
					<p class="event-text">
						<!-- {{ date date }} uses handlebars helper where the first is the name of the helper and the second is the key from the db -->
						{{date date}}<br>
						{{ time start_at }}–{{ time end_at}}
					</p>
					<p class="event-text">
						{{ venue }}<br>
						{{ address1 }}<br> {{#if address2}} {{ address2 }}<br> {{/if}} {{ city }}<br> {{ postcode }}<br>
						<a href="http://{{ location_url }}" target="_blank">{{ location_url }}</a>
					</p>
					<a href="http://{{ ticket_url }}" target="_blank" class="btn btn-primary ticket-btn">Buy tickets</a>
				</div>
			</div>
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no events yet.</h3>
	{{/if}}
	<div class="event-container">
		<h3><a href="/registration">Sign up</a> for details of future events</h3>
	</div>
</div>